<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add styling for the line chart here */
  </style>
</head>
<body>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    <div id="line-chart"></div>
    function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Calories');
      
        // Retrieve the data from your database and add it to the data table.
        var jsonData = $.ajax({
          url: "/dataForPlot",
          dataType: "json",
          async: false
        }).responseText;
      
        // Create the data table from the JSON data.
        var data = new google.visualization.DataTable(jsonData);
      
        // Set chart options
        var options = {
          title: 'Calorie Tracker',
          width: 600,
          height: 400,
          curveType: 'function',
          legend: { position: 'bottom' }
        };
      
        // Instantiate and draw the chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('line-chart'));
        chart.draw(data, options);
      }
    </script>
</body>
</html>